$color-primary: #07076b;
$color-secondary: hsl(11, 100%, 53%);
$third-color: #0096f4;
$fourth-color: #254dda;

.hero-container {
    margin-top: 4rem;
    height: 75dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-left {
        margin-inline: 3rem;

        h1 {
            font-size: 3.5rem;
            color: $color-primary;
            margin-bottom: -.2rem;

            span {
                color: $color-secondary;
                font-size: 3.5rem;
            }
        }

        h3 {
            font-size: 1.6rem;
            margin-bottom: -.2rem;
            color: $fourth-color;
        }

        p {
            font-size: 1.1rem;
            color: #07076b;
            font-weight: 400;
            line-height: 1.8;
            text-align: left;

        }

        .btn-primary {
            background-color: $color-primary;
            color: #fff;
            border-style: none;
            outline: none;
            font-size: 1.03rem;
            font-weight: 500;
            padding: .6rem 1.2rem;
            border-radius: 10px;
            cursor: pointer;
        }

        .btn-secondary {
            background-color: $color-secondary;
            color: #fff;
            border-style: none;
            outline: none;
            font-size: 1.03rem;
            font-weight: 500;
            cursor: pointer;
            padding: .6rem 1.2rem;
            border-radius: 10px;
            margin-left: 1.5rem;
        }

        flex-shrink: 1;

    }

    .hero-right {
        margin-inline: 3rem;

        img {
            width: 28rem;
            mix-blend-mode: darken;

        }
    }
}

// Handling responsiveness for the homepage

@media (max-width: 63rem) {

    .hero-container {

        margin-top: 6rem;

        .hero-left {
            margin-inline: 2rem;

            h1 {
                font-size: 3.2rem;
            }

            h3 {
                color: $fourth-color;
            }

            p {
                font-weight: 500;
            }
        }

        .hero-right {
            margin-inline: 2rem;

            img {
                width: 26.5rem;
            }
        }
    }
}

@media (max-width: 57.3rem) {

    .hero-container {
        margin-top: 3rem;

        .hero-left {
            margin-inline: 1rem;

            h1 {
                font-size: 2.7rem;
            }

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.1rem;
            }
        }

        .hero-right {
            margin-inline: 1rem;

            img {
                width: 24rem;
            }
        }
    }
}

@media (max-width: 46.5rem) {

    .hero-container {
        height: 77dvh;
        margin: 10rem 2rem;
        flex-direction: column;
        gap: 2rem;

        .hero-left {
            text-align: center;
            margin-inline: 1rem;

            h1 {
                font-size: 3rem;
            }

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.05rem;
                text-align: center;
                font-weight: 600;
                line-height: 1.6;
            }
        }

        .hero-right {
            margin-inline: 1rem;

            img {
                width: 26rem;

            }
        }
    }
}

@media (max-width: 31rem) {

    .hero-container {
        height: 90dvh;
        margin: 7rem 1.5rem;
        flex-direction: column;
        gap: 1.3rem;

        .hero-left {
            margin: 0;

            h1 {
                font-size: 2.8rem;
                text-align: center;

                span {
                    font-size: 2.8rem;
                }

            }

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.1rem;
                text-align: justify;
                line-height: 1.5;
            }
        }

        .hero-right {

            img {
                width: 23rem;

            }
        }
    }
}

@media (max-width: 24rem) {

    .hero-container {
        height: 90dvh;
        margin: 8rem 1rem;
        gap: 1.3rem;

        .hero-left {
            margin: 0;

            h1 {
                font-size: 2.5rem;

                span {
                    font-size: 2.5rem;
                }
            }

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1rem;
                text-align: center;
                font-weight: 400;
                line-height: 1.4;
            }
        }

        .hero-right {

            img {
                width: 21.2rem;

            }
        }
    }
}

@media (max-width: 22rem) {

    .hero-container {
        height: 100dvh;
        margin: 7rem .8rem;

        .hero-left {
            h1 {
                font-size: 2.1rem;

                span {
                    font-size: 2.1rem;
                }
            }

            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
                text-align: justify;
                line-height: 1.3;
                margin-block: 1.5rem;
            }
        }

        .hero-right {
            img {
                width: 18rem;
            }
        }
    }
}

.partners-container {

    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .heading {
        text-align: center;
        font-size: 3rem;
        color: $fourth-color;
        padding-block: .3rem;
        position: relative;

        span {
            position: absolute;
            content: "";
            width: 6rem;
            background-color: $color-secondary;
            height: 4px;
            left: 46%;
            bottom: 0;
            font-weight: 500;
        }

    }

}

.slider {

    overflow: hidden;
    white-space: nowrap;
    border-radius: 5rem;
    margin: 1rem;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);

    .slide {

        display: inline-block;
        animation: animate 10s linear infinite;

        img {
            width: 4rem;
            margin: 1rem 3rem;
            
            aspect-ratio: 2/2;
            mix-blend-mode: darken;

            &:hover {
                filter: grayscale(80%);
            }
        }
    }

    @keyframes animate {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    &:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;

    }
}

@media (max-width:30rem) {
    .slider {
        .slide {
            img {
                width: 2.9rem;
                margin: 1rem 2.4rem;
            }
        }
    }
}