
$color-primary: #07076b;
$color-secondary: #f94144;
$third-color: #0096f4;
$fourth-color: #254dda;

.contact-container {
    color: $fourth-color;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 6rem 1rem;
    
}